@model ITGateWorkDesk.Web.Mvc.Models.ChangePasswordModel
@{
    ViewBag.Title = ITGateWorkDesk.Resources.Resources.ChangePassword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>ITGateWorkDesk.Resources.Resources.ChangePassword</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend></legend>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.OldPassword)
                </td>
                <td>
                    @Html.EditorFor(model => model.OldPassword)<br />
                    @Html.ValidationMessageFor(model => model.OldPassword)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.NewPassword)
                </td>
                <td>
                    @Html.EditorFor(model => model.NewPassword)<br />
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ConfirmPassword)
                </td>
                <td>
                    @Html.EditorFor(model => model.ConfirmPassword)<br />
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <p>
                        <input type="submit" value=@ITGateWorkDesk.Resources.Resources.ChangePassword />
                    </p>
                </td>
            </tr>
        </table>
    </fieldset>
}
