@using ITGateWorkDesk.Web.Mvc.Helpers
@using PagedList.Mvc
@model PagedList.IPagedList<ITGateWorkDesk.Web.Mvc.Models.AssignmentViewModel>
<div class="grid">
    @if (Model == null || Model.Count == 0)
    {
        <p>
            No Assignmetns</p>
    }
    else
    {
        <table class="datatable">
            <tr class="row">
                <th>
                    @ITGateWorkDesk.Resources.Resources.CorresondenceNo
                </th>
                <th>
                    @ITGateWorkDesk.Resources.Resources.AssignedDate
                </th>
                <th>
                    @ITGateWorkDesk.Resources.Resources.OrgUnit
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Correspondence.ToString(), "Details", "Correspondence", new { id = item.Correspondence })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Orgunit)
                    </td>
                </tr>
            }
        </table>
        <div class="pager">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), Html.CustomPagedListRenderOptions())
        </div>
    }
</div>
