<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
xml:lang="en" lang="AR">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="../../Content/Grid.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 7]>
    <style media="screen" type="text/css">
    .col1 {
	    width:100%;
	}
    </style>
    <![endif]-->
    <script src="../../Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../../Scripts/ajax.js" type="text/javascript"></script>
    <script src="../../Scripts/generalscripts.js" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1256" />
    @RenderSection("HeaderSection", false);
</head>
<body>
    <div id="header">
        <div id="logoad">
            <div id="logo">
                <img src="../../Content/img/logo.png" alt="logo"/>
            </div>
            <div id="ad">
                
            </div>
        </div>
        <div id="menuwrapper">
            <ul class="menu">
                <li><a href="@Url.Action("Index","Home")">@ITGateWorkDesk.Resources.Resources.HomePage</a></li>
                @*<li><a href="#">Likes</a></li>
                <li><a href="#">Views</a> </li>
                <li><a href="#">Uploads</a></li>
                <li><a href="#">Videos</a></li>
                <li><a href="#">Documents</a></li>*@
            </ul>
        </div>
    </div>
    <div class="colmask rightmenu">
        <div class="colleft">
            <div class="col1wrap">
                <div class="col1">
                           
                   <div id="blog">
                        <div id="blog-top" align="left">
                           @ViewBag.PageHeader
                        </div>
                        <div id="blog-left" align="left">
                        </div>
                       <div id="blog-right" align="left">
                           @RenderBody()
                       </div>
                    </div>
                    <!-- Column 1 start -->
                    
                    
                    <div class="clear">
                    </div>
                    <!-- Column 1 end -->
                </div>
            </div>
            <div class="col2">
                <!-- Column 2 start -->
                <div id="accordionwrapper">
                    <ul class="accordion">
                       <li id="one" class="files"><a href="#one">@ITGateWorkDesk.Resources.Resources.UserInfo</a>
                           @Html.Partial("_LoginPartial") 
                        </li>

                        <li id="two" class="mail"><a href="#two">@ITGateWorkDesk.Resources.Resources.TheCorrespondences</a>
                            <ul class="sub-menu">
                                
                                <li>
                                    <a href='@Url.Action("List", "Correspondence", new { external = 1, incoming = 1 })'>
                                              <em>@Html.Label("ExternalIncomeTotalCountLabel", "0")</em>
                                              @ITGateWorkDesk.Resources.Resources.ExternalIncome 
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("List", "Correspondence", new { external = 0, incoming = 1 })'>
                                        <em>@Html.Label("InternalIncomeTotalCountLabel", "0")</em>
                                        @ITGateWorkDesk.Resources.Resources.InternalIncome 
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("List", "Correspondence", new { external = 1, incoming = 0 })'>
                                        <em>@Html.Label("ExternalOutcomeTotalCountLabel", "0")</em>
                                        @ITGateWorkDesk.Resources.Resources.ExternalOutcome
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("List", "Correspondence", new { external = 0, incoming = 0 })'>
                                        <em>@Html.Label("InternalOutcomeTotalCountLabel", "0")</em>
                                        @ITGateWorkDesk.Resources.Resources.InternalOutcome 
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="three" class="cloud"><a href="#three">@ITGateWorkDesk.Resources.Resources.TheAssginments</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href='@Url.Action("", "Correspondence")'>
                                        <em>@Html.Label("IncomingReferralTotalCountLabel", "0")</em>
                                        @ITGateWorkDesk.Resources.Resources.IncomingReferral
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("", "Correspondence")'>
                                        <em>@Html.Label("OutcomingReferralTotalCountLabel", "0")</em>
                                        @ITGateWorkDesk.Resources.Resources.OutcomingReferral
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li id="four" class="sign"><a href="#four">@ITGateWorkDesk.Resources.Resources.TheDecisions</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href='@Url.Action("Decisions", "Correspondence", new { incoming = 0 })'>
                                        <em>@Html.Label("OutcomingDecisionsTotalCountLabel", "0")</em>
                                        @ITGateWorkDesk.Resources.Resources.OutcomingDecisions
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Decisions", "Correspondence", new { incoming = 1 })'>
                                        <em>@Html.Label("IncomingDecisionsTotalCountLabel", "0")</em>
                                        @ITGateWorkDesk.Resources.Resources.IncomingDecisions
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li id="five" class="sign"><a href="#five">@ITGateWorkDesk.Resources.Resources.ControlPanel</a>
                            <ul class="sub-menu">
                                <li><a href='@Url.Action("Index", "Orgunit")'>@ITGateWorkDesk.Resources.Resources.OrgunitEditor</a></li>
                                <li><a href='@Url.Action("Settings", "Orgunit")'>@ITGateWorkDesk.Resources.Resources.OrgunitSettingsEditor</a></li>
                                <li><a href='@Url.Action("Index", "CorrespondenceType")'>@ITGateWorkDesk.Resources.Resources.CorrespondenceTypeEditor</a></li>
                                <li><a href='@Url.Action("Index", "User")'>@ITGateWorkDesk.Resources.Resources.UserEditor</a></li>
                                <li><a href='@Url.Action("Index", "System")'>@ITGateWorkDesk.Resources.Resources.SystemSettingsEditor</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Column 2 end -->
            </div>
        </div>
    </div>
    <div id="footer">
        <p style="text-align: center;">
            &copy; @ITGateWorkDesk.Resources.Resources.CompanyName | All rights reserved<br />
        </p>
    </div>
</body>
</html>
