@using System.Collections
@using ITGateWorkDesk.Web.Mvc.Helpers
@model ITGateWorkDesk.Web.Mvc.Models.CorrespondenceModel
@{
    ViewBag.Title = ITGateWorkDesk.Resources.Resources.CorrespondeceCreateViewTitle;
}
@section HeaderSection{
    <script src="../../Scripts/jquery-ui-1.8.23.min.js" type="text/javascript"></script>
    <script src="../../Scripts/CorrCreateScripts.js" type="text/javascript"></script>
    <script src="../../Scripts/wizard.js" type="text/javascript"></script>
    <link href="../../Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
<h2>@ITGateWorkDesk.Resources.Resources.CorrespondeceCreateViewTitle</h2>
@using (Html.BeginForm("Create", "Correspondence", new { decision = Request["decision"], external = Request["external"], incoming = Request["incoming"], draft = Request["draft"] }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="wizard-step">
        <fieldset>
            <legend>
                <h3>@ITGateWorkDesk.Resources.Resources.BasicInfo</h3>
            </legend>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.RecordNo)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.RecordNo)<br />
                        @Html.ValidationMessageFor(model => model.RecordNo)
                    </td>
                    <td>
                        @Html.LabelFor(model => model.Devision)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Devision)<br />
                        @Html.ValidationMessageFor(model => model.Devision)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.RecordDate)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.RecordDate, new { @class = "datefield" })<br />
                        @Html.ValidationMessageFor(model => model.RecordDate)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.RequireFollowup)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.RequireFollowup)<br />
                        @Html.ValidationMessageFor(model => model.RequireFollowup)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Importance)
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.Importance, new SelectList(new[]
                                                                                               {
                                                                                                   new {ID = "1", Name = ITGateWorkDesk.Resources.Resources.LowImportance},
                                                                                                   new {ID = "2", Name = ITGateWorkDesk.Resources.Resources.NormalImportance},
                                                                                                   new {ID = "3", Name = ITGateWorkDesk.Resources.Resources.HighImportance},
                                                                                               },
                                                                                           "ID", "Name", 2))<br />
                        @Html.ValidationMessageFor(model => model.Importance)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.DeliveryMethod)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.DeliveryMethod)<br />
                        @Html.ValidationMessageFor(model => model.DeliveryMethod)
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div class="wizard-step">
        <fieldset>
            <legend></legend>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.ID)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.ID)<br />
                        @Html.ValidationMessageFor(model => model.ID)
                    </td>
                    <td>
                        @Html.LabelFor(model => model.ParentID)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.ParentID)<br />
                        @Html.ValidationMessageFor(model => model.ParentID)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.CreateDate)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.CreateDate, new { @class = "datefield" })<br />
                        @Html.ValidationMessageFor(model => model.CreateDate)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.AttachmentsCount)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.AttachmentsCount)<br />
                        @Html.ValidationMessageFor(model => model.AttachmentsCount)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Title)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Title)<br />
                        @Html.ValidationMessageFor(model => model.Title)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.CorrespondenceType)
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.CorrespondenceType, (ViewBag.CorrTypes as IEnumerable<SelectListItem>))<br />
                        @Html.ValidationMessageFor(model => model.CorrespondenceType)
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div class="wizard-step ">
        <fieldset>
            <legend></legend>
            <table>
                <tr>
                    <td>@Html.LabelFor(model => model.Orgunit)
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.Orgunit)
                        <input type="text" id="OrgunitLabel" name="OrgunitLabel" style="border:none;" readonly />
                        <input type="submit" value="..." id="selectOrgunitBtn" class="modal-dialog-opener" /><br />
                        @Html.ValidationMessageFor(model => model.Orgunit)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Destinations)
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.Destinations)
                        @*<div id="DestinationsValues"></div>*@
                        <input type="text" id="DestinationsLabel" name="DestinationsLabel" style="border:none;" readonly />
                        <input type="submit" id="selectDestBtn" class="modal-dialog-opener" value="..." /><br />
                        @Html.ValidationMessageFor(model => model.Destinations)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.DestinationsCC)
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.DestinationsCC)
                        @*<div id="DestinationsCCValues"></div>*@
                        <input type="text" id="DestinationsCCLabel" name="DestinationsCCLabel" style="border:none;" readonly />
                        <input type="submit" id="selectDestCCBtn" class="modal-dialog-opener" value="..." /><br />
                        @Html.ValidationMessageFor(model => model.DestinationsCC)
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div class="wizard-step">
        <fieldset>
            <legend>@ITGateWorkDesk.Resources.Resources.Attachements</legend>
            <div id="attachmentsParitalDiv">
                @Html.Partial("Upload", 1)
            </div>
        </fieldset>
    </div>
    <div class="wizard-step confirm">
        

    </div>
    <p>
        <input type="button" id="back-step" name="Create" value="< @ITGateWorkDesk.Resources.Resources.Previous" />

        <button id="saveFormBtn" name="submitBtnName"  runat="server" value="Save" >@ITGateWorkDesk.Resources.Resources.Save</button>
        <button id="saveAsDraftBtn" name="submitBtnName" runat="server" value="SaveAsDraft"  >@ITGateWorkDesk.Resources.Resources.SaveAsDraft</button>
        <input type="button" id="next-step" name="next-step" value="@ITGateWorkDesk.Resources.Resources.Next >" />
        
        <input type="button" id="cancel-button" name ="Cancel" value="@ITGateWorkDesk.Resources.Resources.Cancel" />
    </p>
    
    
                                                             ViewData["toUpdateField"] = "Orgunit"; ViewData["dialogID"] = "SelectOrgunitDialogID"; ViewData["allowMultipleSelection"] = false;
    @Html.Partial("OrgunitSelectorPartial", (IEnumerable<ITGateWorkDesk.Web.Mvc.Models.OrgunitModel>)ViewBag.Orgunits, ViewData)

ViewData["toUpdateField"] = "Destinations"; ViewData["dialogID"] = "SelectDestinationDialogID"; ViewData["allowMultipleSelection"] = false;
    @Html.Partial("OrgunitSelectorPartial", (IEnumerable<ITGateWorkDesk.Web.Mvc.Models.OrgunitModel>)ViewBag.Orgunits, ViewData)

ViewData["toUpdateField"] = "DestinationsCC"; ViewData["dialogID"] = "SelectDestinationsCCDialogID"; ViewData["allowMultipleSelection"] = false;
        @Html.Partial("OrgunitSelectorPartial", (IEnumerable<ITGateWorkDesk.Web.Mvc.Models.OrgunitModel>)ViewBag.Orgunits, ViewData)
}
