@model ITGateWorkDesk.Web.Mvc.Models.CorrespondenceFilterModel
@{
    ViewBag.Title = "Decisions";
}
<h2>
    Decisions</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.ActionLink(ITGateWorkDesk.Resources.Resources.CorrespondeceCreateViewTitle, "Create", new { decision = 1, incoming = Request["incoming"] })
    <fieldset>
        <legend>Filter</legend>
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.To)
                </td>
                <td>@Html.LabelFor(model => model.FromDate)
                </td>
                <td>@Html.LabelFor(model => model.ToDate)
                </td>
                <td>@Html.LabelFor(model => model.State)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DropDownListFor(model => model.To, new SelectList(new[]
                                                                                    {
                                                                                        new {ID = "1", Name = "Me"},
                                                                                        new {ID = "2", Name = "Orgunit"},
                                                                                        new {ID = "3", Name = "Company"},
                                                                                    },
                                                                                "ID", "Name", 2))
                </td>
                <td>@Html.TextBoxFor(model => model.FromDate, new { @class = "datefield" })
                </td>
                <td>@Html.TextBoxFor(model => model.ToDate, new { @class = "datefield" })
                </td>
                <td>@Html.DropDownListFor(model => model.State, ViewBag.StatesList as IEnumerable<SelectListItem>)
                </td>
                <td>
                    <input type="submit" value="@ITGateWorkDesk.Resources.Resources.Search" />
                </td>
            </tr>
        </table>
        @if (IsPost)
        {
            @Html.Partial("ListPartial", (IEnumerable<ITGateWorkDesk.Web.Mvc.Models.CorrespondenceDetailsModel>)ViewBag.CorrList)   
        }
        <p>
        </p>
    </fieldset>
}
