@model IEnumerable<ITGateWorkDesk.Web.Mvc.Models.CorrespondenceDetailsModel>
<br />
@foreach (var item in Model)
{
    <div>
        <div id="corrHeader">
            @ITGateWorkDesk.Resources.Resources.Correspondence @item.CorrespondenceOrigin
            @ITGateWorkDesk.Resources.Resources.CorrNoIs @item.CorrespondenceID
            
        </div>
        <div id="correspondenceBody" class="correspondenceBody">
            @ITGateWorkDesk.Resources.Resources.TitleOfCorrespondence
            @item.CorrespondenceSubject 
        </div>
        <div id="correspondenceFooter" class="correspondenceFooter">
            @Html.ActionLink(@ITGateWorkDesk.Resources.Resources.CorrespondeceDetails, "Details", new { id = item.CorrespondenceID })
        </div>
    </div>
    <br/>
}
